<%- include('../partials/template') %>
  <h1>Selected Driver Details</h1>
    <table id = "tblSlctDrives">
        <thead>
            <th>No.</th>
            <th>Driver's First Name</th>
            <th>Driver's Last Name</th>
            <th>D.O.B.</th>
            <th>TX DL. Number</th>
            <th>TX DL. Exp. Date</th>
            <th>ATX Chauffeur Permit Number</th>
            <th>Permit Exp. Date</th>
        </thead>
        <tbody id = "tblBodyDriver">
            <tr>
            <td></td>
            <td><%= driver.driverFirst %></td>
            <td><%= driver.driverLast %></td>
            <td><%= driver.born %></td>
            <td><%= driver.DLNum %></td>
                <% if (driver.DLExpDate  < new Date()) { %>
            <td style = "color: rgb(143, 2, 2)"> <%= driver.DLExpDate %> </td>
                <% } else { %>
            <td> <%= driver.DLExpDate %> </td>
                <% } %>
            <td><%= driver.permitNum %></td>
                <% if (driver.permitExpDate  < new Date()) { %>
            <td style = "color: rgb(143, 2, 2)"> <%= driver.permitExpDate %> </td>
                <% } else { %>
            <td> <%= driver.permitExpDate %> </td>
                <% } %>
            </tr>
        </tbody>
    </table>
    <div>
        <form method="POST" action="/drivers/<%= driver._id %>?_method=DELETE">
            <input id = "btnDriverDlt" type = "submit" value = "Delete Driver">
        </form>
<%- include('../partials/footer') %>

