<%- include('../partials/template') %>
  <h1>Total Cab List</h1>
    <table id = "tblCabsList">
      <thead>
          <th>No.</th>
          <th>Make</th>
          <th>Model</th>
          <th>Year</th>
          <th>Frame Type</th>
          <th>Serial Number</th>
          <th>Capacity</th>
          <th>E-Assist</th>
          <th>Canopy</th>
          <th>Rented</th>
          <th>Drivers First Name</th>
          <th>Drivers Last Name</th>
          <th>Details</th>
      </thead>
        <tbody id = "tblBodyCabs">
            <% if (cabs.length > 0) { %>
          <% cabs.forEach(function(c) { %>
          <tr>
            <td></td>
            <td><%= c.make %></td>
            <td><%= c.model %></td>
            <td><%= c.year %></td>
            <td><%= c.frameType %></td>
            <td><%= c.serialNum %></td>
            <td><%= c.capacity %></td>
            <td><%= c.eAssist %></td>
            <td><%= c.canopy %></td>
              <% if (c.rented ) { %>
            <td style = "color: rgb(55, 102, 63)"> <%= c.rented %> </td>
              <% } else { %>
            <td> <%= c.rented %> </td>
              <% } %>
            <td><%= c.driverFirst %></td>
            <td><%= c.driverLast %></td>
            <td>
              <a href="/cabs/<%= c._id %>"> View </a> 
            </td>
          </tr>
            <% }); %>
            <% } %>
        </tbody>
    </table>
    <div>
        <form id = "FormRedir" action="/cabs/new/">
          <input id = "btnAddCabRedir" type = "submit" value = "Add Cab">
        </form>
      </div>
<%- include('../partials/footer') %>
